
@model IEnumerable<PizzaWebApp.Models.Pizza>  


  <section id="hero" class="hero d-flex align-items-center ">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Best Pizzas in Town</h2>
          
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a class="btn-book-a-table" asp-controller="Booking" asp-action="Index">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/img/pizzahero.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section>

  <main id="main">

 
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Yummy Menu</span></p>
        </div>

       

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Pizza</h3>
            </div>
              

                
                      <div class="row gy-5">
                        @{
                            foreach (var item in Model)
                            {
                                            <div class="col-lg-4 menu-item">
                                                <a href="/img/pizza.png" class="glightbox"><img src="/img/pizza.png" class="menu-img img-fluid" alt=""></a>
                                                <h4>@item.Name</h4>
                                                <div class="ing_container flex-column justify-content-center">
                                                    <p class="text-center">
                                                        @item.Ingredients
                                                    </p>
                                                </div>
                                                <p class="price"> $@item.Price</p>
                                                <a class="btn-book-a-table bg-red" asp-controller="ShoppingChart" asp-action="Index" asp-route-Id="@item.Id">Add to Chart</a>

                                            </div>

                            }
                            }
                                </div>
                    
                  

                  </div>
                                     
                </div>

              </div>
            </section>

          </main>

 

  
