@model List<PizzaWebApp.Models.CartItem>

<div class="mt-5 mb-3 pt-5 pb-3">


    @{
        foreach(var item in Model)
        {
            <table class="table mt-5 mb-5 pt-5">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Ingredients</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>@item.Pizza.Name</td>
      
    </tr>
    <tr>
      
      <td>@item.Pizza.Ingredients</td>
      
    </tr>
    <tr>
      
      <td>@item.Pizza.Price</td>
      
    </tr>
  </tbody>
</table>
        }
    }



</div>
