
        <div class="d-flex mt-5">
        
            <div class="border-end bg-white" id="sidebar-wrapper">
                
                <div class="list-group list-group-flush mt-5 mb-2">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Orders</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Table Bookings</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Contacts</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Users</a>
                </div>
            </div>
            
            <div id="page-content-wrapper" class="mt-lg-5">
                
               
                
                <div class="container-fluid">
                    <h1 class="mt-4">Simple Sidebar</h1>
                    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                    <p>
                        Make sure to keep all page content within the
                        <code>#page-content-wrapper</code>
                        . The top navbar is optional, and just for demonstration. Just create an element with the
                        <code>#sidebarToggle</code>
                        ID which will toggle the menu when clicked.
                    </p>
                </div>
            </div>
        </div>
       
       