
<div class="d-flex mt-5 w-100">

	<div class="border-end bg-white p-2 flex-shrink-1 mt-5">

		<div class="list-group list-group-flush mt-5 mb-2">
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Orders</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Bookings</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Contacts</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Users</a>
		</div>
	</div>

	<div class="mt-lg-5 p-2 w-75 mx-auto">


	<table class="table">
  <thead>
    <tr>
      <th scope="col">Nr</th>
      <th scope="col">Order</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">User</th>

      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>user</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>


			</div>

			</div>







