
@model IEnumerable<PizzaWebApp.Models.CartItems>  


<div class="mt-5 mb-3 pt-5 pb-3">


    @{
        foreach(var item in Model)
        {
           <table class="table mt-5 mb-5 pt-5">
            <thead>
                <tr>
      
                 <th scope="col">Name</th>
                 <th scope="col">Price</th>
                 <th scope="col">Amount</th>
                </tr>
            </thead>
             <tbody>
                <tr>
      
                <td>@item.Pizza</td>
      
                </tr>
                <tr>
      
                <td></td>
      
                </tr>
                <tr>
      
                <td></td>
      
                </tr>
                <tr>
                <td>@item.Amount </td>
                </tr>
             </tbody>
            </table>
        }
    }



</div>
