

<div class="flex-column justify-content-center mx-4 mb-3 mb-lg-4">
                    <div class="flex-column justify-content-center mx-4 mb-3 mb-lg-4 w-75">

                    
                    <img src="~/img/delivery.jpg" class="img-fluid mt-5" />
                    <p class="text-success text-center">@ViewBag.Message</p>
                    </div>

                  </div>