 <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us ">
              <h4>Book a Table</h4>
              <p>+355675622013</p>
              <div class="position-relative mt-4">
                <img src="/img/pizzbeingcooked.jpg" class="img-fluid" alt="">
               
              </div>
            </div>
            
          </div>
          <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Founded in 1997, that was the beginning of what would be the first and eventually one of the biggest pizza names in town. We made a lot happen and we are not done there, we're still leading the way with our innovation and products. 
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Easy to book or free delivery wherever you are.</li>
                <li><i class="bi bi-check2-all"></i> Homemade ingredients and flavors for the best experience.</li>
                <li><i class="bi bi-check2-all"></i> Guaranteed to have the best service you're looking for.</li>
              </ul>
              <p>
                We are more than happy to welcome you in our journey. We know what you want and we've made it faster and easier for you to get it.
              </p>

              
            </div>
          </div>
        </div>

      </div>
    </section>
