@model PizzaWebApp.Data.AppUser;

<section style="background-color: white;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        
      
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 mb-5">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                <form class="mx-1 mx-md-4 mb-5" method="post" asp-action="Login">


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c" >Your Username</label>
                      <input type="text" id="form3Example3c" class="form-control" asp-for="@Model.UserName"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c" >Password</label>
                      <input type="password" id="form3Example4c" class="form-control" asp-for="@Model.PasswordHash" />
                      
                    </div>
                  </div>

             

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Login</button>

                  </div>

                   <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <p class="text-danger text-center">@ViewBag.Error</p>

                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    
                     <label class="form-check-label" for="form2Example3">
                      Don't have an account?' <a asp-controller="Account" asp-action="Register">Sign Up</a>
                    </label>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="/img/pizzahero.png"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    
 
</section>

