@model PizzaWebApp.Models.Bookings 

<section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Book A Table</h2>
          <p>Book <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url(/img/cookingPizza.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">

            <form  method="post" asp-action="Create" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input asp-for="PhoneNumber" type="tel" class="form-control" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input asp-for="Date" type="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input asp-for="Time" type="time" class="form-control" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input asp-for="NrOfPeople" type="number" class="form-control" min="1" id="people" placeholder="Number of people" data-rule="minlen:1" data-msg="Please enter at least 1 person">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea asp-for="Message" class="form-control"  rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
             
              <div class="text-center mt-3"><button type="submit">Book a Table</button></div>
                @{
                if(ViewBag.SuccessMessage != null)
                {  
                        <div class="text-center mt-3">
                        <h4 class="text-success font font-weight-bold">
                        @ViewBag.SuccessMessage
                         </h4>
                 </div>
                }
                 
             }
            </form>
          </div>

        </div>

      </div>
    </section>